@import "variables";
body{
    background: $color-fondo;
    font-family: $fuente-principal;
}
section{
    padding: 40px 0;
}
.card{
    border-radius: $radio;
    box-shadow: $sombra;
    transition: .3s;
    &:hover{
        transform: scale(1.03);
    }
    img{
        height: 250px;
        object-fit: cover;
    }
}