@import "variables";
body{
    background: $color-fondo;
    font-family: $fuente-principal;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}
section{
    padding: 40px 0;
}
.card{
    border-radius: $radio;
    -webkit-box-shadow: $sombra;
    -moz-box-shadow: $sombra;
    box-shadow: $sombra;
    transition: .3s;
    &:hover{
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
    }
    img{
        height: 250px;
        -o-object-fit: contain;
        object-fit: contain;
        padding: 10px;
    }
}